/* poppins font cdn */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(254, 209, 217);
    font-family: Poppins, sans-serif;
}

.container {
    background-color: #FFFFFF;
    max-width: 66vw;
    margin: 0 auto;
    height: 90vh;
    margin-top: 20px;
    /* box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3); */
    border: 1px solid rgb(216, 211, 211);
    border-radius: 10px;
}
/* header section */
.head {
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
.left-head {
    line-height: 30px;
}
.left-head p:nth-child(1) {
    font-weight: bold;
    font-size: 23px;
}
.left-head p:nth-child(2) {
    color: rgb(144, 138, 138);
}
.right-head a{
    text-decoration: none;
    color: rgb(96, 66, 247);
}
.right-head span {
    margin-left: 5px;
}
/* row components styling*/
.row {
    display: flex;
    width: 66vw;
    margin: 0 auto;
    flex: 1;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.row:not(:last-child) {
    border-bottom: 2px solid rgb(231, 230, 230);
}
.row div {
    flex-basis: 200px;
    flex: 1;
}
.row .progress {
    display: flex;
    margin-left: 20px;
    align-items: center;
    background-color: #DBFCE8;
    width: 130px;
    padding: 10px;
    height: 28px;
    border-radius: 15px;
}

/* progress styling */

.row i {
    font-size: 10px;
    margin-right: 8px;
    color: #22C45D;
}
.row:nth-child(4) .progress i {
    color:#F9CD11;
}
.row:nth-child(4) .progress {
    background-color: #FEF9C4;
    /* min-width: 105px; */
}
.row:nth-child(5) .progress i {
    color:#EE4342;
}
.row:nth-child(5) .progress{
    background-color: #FDE2E2;
}
/* payment styling */

.payment p:last-child{
    color: #a6ada9;
}
.payment p:first-child{
    font-weight: 600;
}
.company {
    color: #a6ada9;
    display: flex;
    /* justify-content: space-around;  */
}
.options {
    display: flex;
    /* align-items: flex-end; */
    justify-content: space-around;
}
.options i{
    font-weight: 900;
    color: #a6ada9;
    font-size: 23px;
    display: block;
}

.row .payment-method {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6vw;
}